/* src/components/Navbar.css */
.container-navbar {
  padding: 32px 32px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar-icon h3 {
	display: none;
	font-size: var(--fs-logo);
	color: var(--color-secondary-light);
	font-weight: 100;
	text-transform: uppercase;
}

.navbar-navlist {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
}

.nav-link {
  color: var(--color-white);
  font-size: var(--fs-headline);
  transition: all 0.4s;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-secondary-light);
}

.btn-abrir {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {

	header {
		background-color: chocolate;
		backdrop-filter: blur(1em);
		transition: all 0.4s;

	}

  .container-navbar {
		display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
	}
	
	.btn-abrir {
    display: block;
  }

	.navbar-data {
		display: none;
	}

	.navbar-icon h3 {
		display: block;
	}

  .navbar-navlist {
    flex-direction: column;
    padding: 16px;
    border-radius: 4px;
		align-items: flex-start;
		justify-content: space-between;
  }

  .navbar-data.show {
    display: flex;
		flex-direction: column;
  }

	.navbar-data.expand {
		min-height: 100vh;
	}
}
