.Card-main-container {
	background-position: center;
	background-repeat: no-repeat;
   background-size: cover;
	/* max-width: 655px; */
	width: 100%;
	height: 422px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: stretch;
   cursor: pointer;
}

.Card-main-container:hover{
   opacity: .7;
}

.Card-title-container {
	height: 72px;
	/* top: 350px; */
	gap: 10px;
	background: linear-gradient(83.18deg, rgba(0, 0, 0, 0.6) 5.34%, rgba(102, 102, 102, 0) 109.75%);

}

.Card-title-container h3 {
	margin: 0;
	width: 100%;
	height: 40px;
	font-family: Lexend;
	font-weight: 400;
	font-size: var(--fs-headline);
	line-height: 40px;
	text-align: left;
	padding: 16px;
	color: #DADADA
}